/nbproject
test.*
/tmp
/clover.xml
/vendor
composer.lock
*.cache
cs-fixer.phar
*.log
/release/
php-cs-fixer-v2.phar
App/sto
App/Config/*
.idea/*
!/App/Config/config-with-err-00.json
*.Identifier
tests/clover.xml
/.vscode
