/nbproject
test.*
/tmp
/clover.xml
/vendor
composer.lock
*.cache
cs-fixer.phar
*.log
src/app/storage
app/storage
/release/
php-cs-fixer-v2.phar
app/sto
app/config/*
.idea/*
!/app/config/config-with-err-00.json
*.Identifier
tests/clover.xml
/.vscode
