# Files and folders here will be not included when creating package
/tests export-ignore
/app export-ignore
/public export-ignore
/themes export-ignore
/webfiori/framework/db export-ignore
/.github export-ignore
/.gitignore export-ignore
/.travis.yml export-ignore
/phpunit.xml export-ignore
/ecs.php export-ignore
/php_cs.php.dist export-ignore
/phpbench.json export-ignore
/sonar-project.properties export-ignore
/ecs.php export-ignore
/CHANGELOG.md export-ignore
/release-commit.php export-ignore
/release-please-manifest.json export-ignore
/release-please-config.json export-ignore