language: php
php:
    - 5.6
    - 7.2
    - 7.3
    - 7.4
arch:
    - amd64
    - ppc64le
    - s390x
    - arm64
jobs:
    exclude:
        - php: 5.6
          arch: s390x
        - php: 5.6
          arch: arm64
    allow_failures:
        - arch: ppc64le
        - arch: s390x
        - arch: arm64
os:
    - linux
    # - osx # Services are not supported on osx
    # - windows # The language 'php' is currently unsupported on the Windows Build Environment. 
services:
    - mysql
addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      - mysql-client
before_install:
    #update packages in quite mode.
    - sudo apt-get update
    #install postfix mail server
    - sudo apt-get install postfix
    #create a test database
    - mysql -e 'create database if not exists testing_db;'
    - sudo mysql -e "use mysql; update user set authentication_string=PASSWORD('123456') where User='root'; update user set plugin='mysql_native_password';FLUSH PRIVILEGES;"
    - sudo mysql_upgrade -u root -p123456
    - sudo service mysql restart
    
before_script:
    - composer self-update
    - composer install --prefer-source --no-interaction --dev
script:
    - phpunit --configuration phpunit.xml
after_success:
    - mysql -e 'drop database testing_db;'
    - bash <(curl -s https://codecov.io/bash)
