<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>./webfiori/framework/cron/CronJob.php</file>
            <file>./webfiori/framework/cron/AbstractJob.php</file>
            <file>./webfiori/framework/cron/Cron.php</file>
            <file>./webfiori/framework/cron/JobArgument.php</file>
            <file>./webfiori/framework/router/RouterUri.php</file>
            <file>./webfiori/framework/Language.php</file>
            <file>./webfiori/framework/Access.php</file>
            <file>./webfiori/framework/DBConnectionInfo.php</file>
            <file>./webfiori/framework/DB.php</file>
            <file>./webfiori/framework/File.php</file>
            <file>./webfiori/framework/Privilege.php</file>
            <file>./webfiori/framework/PrivilegesGroup.php</file>
            <file>./webfiori/framework/User.php</file>
            <file>./webfiori/framework/ui/WebPage.php</file>
            <file>./webfiori/framework/Theme.php</file>
            <file>./webfiori/framework/session/Session.php</file>
            <file>./webfiori/framework/session/SessionsManager.php</file>
            <file>./webfiori/framework/session/DefaultSessionStorage.php</file>
            <file>./webfiori/framework/cli/commands/AddCommand.php</file>
            <file>./webfiori/framework/cli/commands/CreateCommand.php</file>
            <file>./webfiori/framework/cli/commands/CronCommand.php</file>
            <file>./webfiori/framework/cli/commands/ListCronCommand.php</file>
            <file>./webfiori/framework/cli/commands/ListRoutesCommand.php</file>
            <file>./webfiori/framework/cli/commands/ListThemesCommand.php</file>
            <file>./webfiori/framework/cli/commands/RunSQLQueryCommand.php</file>
            <file>./webfiori/framework/cli/commands/SettingsCommand.php</file>
            <file>./webfiori/framework/cli/commands/TestRouteCommand.php</file>
            <file>./webfiori/framework/cli/commands/UpdateSettingsCommand.php</file>
            <file>./webfiori/framework/cli/commands/UpdateTableCommand.php</file>
            <file>./webfiori/framework/cli/commands/VersionCommand.php</file>
            <file>./webfiori/framework/cli/writers/ClassWriter.php</file>
            <file>./webfiori/framework/cli/writers/CronJobClassWriter.php</file>
            <file>./webfiori/framework/cli/writers/LangClassWriter.php</file>
            <file>./webfiori/framework/cli/writers/MiddlewareClassWriter.php</file>
            <file>./webfiori/framework/cli/writers/TableClassWriter.php</file>
            <file>./webfiori/framework/cli/writers/ThemeClassWriter.php</file>
            <file>./webfiori/framework/cli/writers/WebServiceWriter.php</file>
            <file>./webfiori/framework/cli/helpers/ClassInfoReader.php</file>
            <file>./webfiori/framework/cli/helpers/CreateCLIClassHelper.php</file>
            <file>./webfiori/framework/cli/helpers/CreateClassHelper.php</file>
            <file>./webfiori/framework/cli/helpers/CreateCronJob.php</file>
            <file>./webfiori/framework/cli/helpers/CreateMiddleware.php</file>
            <file>./webfiori/framework/cli/helpers/CreateTable.php</file>
            <file>./webfiori/framework/cli/helpers/CreateTableObj.php</file>
            <file>./webfiori/framework/cli/helpers/CreateThemeHelper.php</file>
            <file>./webfiori/framework/cli/helpers/CreateUpdateTableHelper.php</file>
            <file>./webfiori/framework/cli/helpers/CreateWebService.php</file>
            <file>./webfiori/framework/cli/helpers/TableObjHelper.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>