<?xml version="1.0" encoding="UTF-8"?>
<phpunit stderr="true" colors="true" bootstrap="bootstrap.php">
    <php>
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <file>./src/framework/cron/CronJob.php</file>
            <file>./src/framework/router/RouterUri.php</file>
            <file>./src/framework/langs/Language.php</file>
            <file>./src/framework/Access.php</file>
            <file>./src/framework/DBConnectionInfo.php</file>
            <file>./src/framework/File.php</file>
            <file>./src/framework/Privilege.php</file>
            <file>./src/framework/PrivilegesGroup.php</file>
            <file>./src/framework/User.php</file>
            <file>./src/framework/Page.php</file>
            <file>./src/framework/Theme.php</file>
            <file>./src/framework/session/Session.php</file>
            <file>./src/framework/session/SessionsManager.php</file>
            <file>./src/framework/session/DefaultSessionStorage.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Language Tests">
            <directory>./tests/entity/langs/</directory>
        </testsuite>
        <testsuite name="Entity Tests">
            <directory>./tests/entity/</directory>
        </testsuite>
        <testsuite name="Config Files Tests">
            <directory>./tests/conf/</directory>
        </testsuite>
        <testsuite name="Router Tests">
            <directory>./tests/entity/router/</directory>
        </testsuite>
        <testsuite name="Controller Tests">
            <directory>./tests/logic/</directory>
        </testsuite>
        <testsuite name="Session Management Tests">
            <directory>./tests/entity/session/</directory>
        </testsuite>
    </testsuites>
</phpunit>