<v-row>
    <v-col cols="12" sm=12 md=4>
        <v-card :loading=loading :disabled=loading>
            <v-card-text>
                Since its your first time using tasks scheduler, a password must be set to protect jobs from unauthorized access.
            </v-card-text>
            <v-card-text>
                <v-text-field type=password v-model=password label="Enter scheduler password here." :loading=loading>
                </v-text-field>
            </v-card-text>
            <v-card-text>
                <v-btn @click=setPassword color=primary :loading=loading :disabled=set_password_btn_disabled>
                    Set Password
                </v-btn>
            </v-card-text>
        </v-card>
    </v-col>
</v-row>