.floating-message-box{
    width:75%;
    border:1px double white;
    height:130px;
    margin:0px;
    z-index:100;
    position:fixed;
    background-color:rgba(0,0,0,0.7);
    color:white;
}
.message-box-header{
    width:100%;
    cursor:move;
    background-color:burlywood;
}
.error-header{
    background-color:crimson;
}
.box-close-button{
    border:0px;
    cursor:pointer;
}
.message-box-body{
    overflow-y:scroll;
    overflow-x:auto;
    width:100%;
    height:100px;
    padding:10px;
}
.error-message-box{
    width:75%;
    border:1px double white;
    height:130px;
    margin:0px;
    z-index:1000;
    position:fixed;
    background-color:rgba(0,0,0,0.7);
    color:white;
}
.err-label{
    color:#ff6666;
    font-family:monospace
}
.message-line{
    margin:0;
    font-family:monospace;
}
.message-box-body{
    overflow-y:scroll;
    overflow-x:auto;
    width:100%;
    height:100px;
    padding:10px;
}