/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 7, 2018, 12:48:37 AM
    Author     : Ibrahim
*/

.function-name, .function-name *
.class-name, .class-name *
.interface-name, .interface-name *,
.class-attribute, .class-attribute *
span.func-param{
    font-family: monospace !important;
}
.summary-box-title{
    padding-left: 15px !important;
    background-color: #d33e42;
    color: white;
    font-weight: bold;
    height: 25px;
}
.api-page p{

}
.api-page p, .api-page ul,.api-page li{
    font-size: 90%;
}
.function-summary,.attribute-summary{
    border: 1px solid;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}