/*
The MIT License

Copyright 2018 Ibrahim.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : Mar 29, 2018, 1:03:50 AM
    Author     : Ibrahim
*/
@media print{
    table.datatable tr td{
        border-spacing: 0 !important;
        padding: 8px !important;
    }
    table.datatable tbody tr:nth-child(2n+1){
        background-color: rgb(245, 245, 240) !important;
    }
    .no-print, .no-print *{
        display: none;
    }
}
.datatable-controls{
    padding: 2%;
}
.datatable-controls button{
    transition: 0.3s;
    color: black !important;
    background-color: lightgrey !important;
    border: dotted 1px !important;
}
.datatable-controls *{
    margin-left: 2%;
    margin-right: 2%
}
table.datatable[dir='rtl']{
    text-align: right;
}
table.datatable[dir='ltr']{
    text-align: left;
}
table.datatable{
    border:1px solid black;
    width: 100%;
    border-spacing: 0;
    text-align: left;
}
table.datatable tr td.hidden,
table.datatable thead tr th.hidden,
table.datatable tfoot tr th.hidden,
table.datatable colgroup col.hidden{
    display: none;
}
table.datatable tr td{
    border-spacing: 0;
    padding: 8px;
}
div.table-container{
    overflow-x:auto;
}
div.page-controls{
    background-color: rgb(179, 230, 204);
}
div.page-controls button{
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: 1px solid gray;
    color: black;
}
div.page-controls button.active{
    background-color: rgb(45, 134, 88);
}
div.page-controls button:hover{
    transition: 0.3s;
    background-color: rgb(121, 210, 164);
}
div.page-controls .page-number-container{
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
}
table.datatable thead, table.datatable tfoot{
    background-color: lightgreen
}
table.datatable tbody tr:nth-child(2n+1){
    background-color: rgb(245, 245, 240)
}
table.datatable tbody tr:hover{
    transition: 0.3s;
    background-color: lightcyan;
}
table.datatable thead{
    border-bottom: 1px solid black
}

table.datatable thead tr th[role='sort-button']{
    cursor: pointer;
    background-image: url('https://cdn.rawgit.com/usernane/js-datatable/38f19569/sort_both.png');
    background-repeat: no-repeat;
    background-position: center right;
}
table.datatable thead tr th[role='sort-up']{
    cursor: pointer;
    background-image: url('https://cdn.rawgit.com/usernane/js-datatable/38f19569/sort_up.png');
    background-repeat: no-repeat;
    background-position: center right;
}
table.datatable thead tr th[role='sort-down']{
    cursor: pointer;
    background-image: url('https://cdn.rawgit.com/usernane/js-datatable/38f19569/sort_down.png');
    background-repeat: no-repeat;
    background-position: center right;
}