@media screen and (max-width:760px){
    #login-form{
        width:100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    #login-logo{
        width: auto;
    }
}
input[type=text],
input[type=password]{
    height: 40px;
}
#login-form{
    /*background-color: #2d8659;*/
    border: dotted #133546 1px;
    width:40%;
    margin-left: 30%;
    margin-right: 30%;
}
#login-button{
    /*background-color: rgb(0, 155, 119);*/
    color:white;
    width:49%;
    height: 25px;
    border: 1px solid
}
#username-input{
    width: 100%;
    height: 40px;
}
label{
    font-weight: bold;
}
#password-input{
    width: 100%;
    height: 40px;
}
#message{
    color: #ff8080;
}
#login-logo{
    margin: auto;
}
.pa-container{
    top:80px;
}