@charset "UTF-8";
/* 
    Created on : Jun 6, 2017, 4:00:25 AM
    Author     : Ibrahim
    Version    : 1.0, Jun 6, 2017
*/

@media screen and (max-width: 768px){
    [class*="-col-"] {
        width: 99% !important;
    }
    #website-title{
        display: none;
    }
    #pa-side-nav > nav ul{
	background-color: rgb(153, 204, 255);
	border-left: 1px solid black;
        border-right: 1px solid black;
        margin: 0 !important;
        opacity: 0;
    }
    #pa-side-nav[dir=ltr] > nav ul{
        padding-left: 45px !important;
    }
    #pa-side-nav[dir=rtl] > nav ul{
        padding-right: 45px !important;
    }
    #pa-side-nav {
	position: fixed;
	overflow: auto;
	width: 85% !important;
	height: 45%;
	background-color: transparent !important;
	left: -440px;
        border-bottom-width: 0 !important;
        border-top-width: 0 !important;
    }
    #pa-side-nav[dir=rtl]{
        border-left-width: 0;
    }
    #pa-side-nav[dir=ltr]{
        border-right-width: 0;
    }
    #pa-side-nav > nav{
        width: 80%;
    }
    #pa-side-nav > nav:before{
        position: fixed;
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 15px;
	width: 45px;
	text-align: center;
	top: 90px;
        opacity: 0.4;
        content: ">>";
    }
    #pa-side-nav[dir=ltr] > nav:before{
        left: -12px;
    }
    #pa-side-nav[dir=rtl] > nav:before{
        right: -12px;
    }
    #pa-side-nav > nav:hover:before{
        opacity: 0;
    }
    #pa-side-nav[dir=rtl] > nav:hover {
        position: fixed;
        height: 50%;
        overflow: auto;
	right: 0;
    }
    #pa-side-nav[dir=ltr] > nav:hover{
        position: fixed;
        height: 50%;
        overflow: auto;
        left: 0;
    }
    #pa-side-nav > nav:hover ul{
        opacity: 1;
    }
    #pa-side-nav-button:hover{
       background-color: white;
       color: black;
    }
    #pa-side-nav-button:hover #pa-side-nav{
       display: block;
    }
    #pa-logo{
        position: fixed;
        width: 45px !important;
        top: -3px;
        z-index: 1;
    }
    #pa-logo[dir=ltr]{
        left: 45px
    }
    #pa-logo[dir=rtl]{
        right: 45px
    }
    #pa-main-nav{
	position: fixed;
	top: -3px;
	left: 0;
	right: 0;
	background-color: aliceblue;
        height: 48px;
        width: 100% !important;
        margin: 0;
    }
    #pa-main-nav > nav{
        border: none !important;
        height: 45px;
        width: 45px;
    }
    #pa-main-nav[dir=ltr] > #pa-mobile-main-menu-button{
        display: block;
	position: fixed;
        left: 0;
        height: inherit;
    }
    #pa-main-nav[dir=rtl] > #pa-mobile-main-menu-button{
	position: fixed;
        right: 0;
        height: inherit;
    }
    #pa-main-nav > #pa-mobile-main-menu-button:hover{
        display: none;
    }
    #pa-main-nav > #pa-mobile-main-menu-button > img{
        width: 35px;
        height: 35px;
        margin: 5px;
    }
    #pa-main-nav[dir=ltr] > nav::before{
	left: 15px;
    }
    #pa-main-nav[dir=rtl] > nav::before{
	right: 15px;
    }
    #pa-main-nav > nav:hover:before{
        content: "";
    }
    #pa-main-nav > nav:hover{
        height: 90px;
    }
    #pa-main-nav > nav:hover ul{
        display: block;
    }
    #pa-main-nav > nav ul{
        display: none;
	position: fixed;
	width: 250px;
	top: 45px;
	background-color: aliceblue;
    }
    #pa-main-nav > nav ul li{
        float: none !important;
        margin-bottom: 10px;
        width: auto !important;
        border-top: 1px solid black;
    }
    #pa-search-box-container{
        position: fixed;
	top: 0;
	height: 45px;
    }
    #pa-search-box-container[dir=ltr]{
        left: 120px;
    }
    #pa-search-box-container[dir=rtl] {
        right: 120px;
    }
    #pa-social-media-container, 
    .pa-mobile-social-media-button, 
    .pa-social-media-buttons{
        transition-delay: 0.5s;
    }
    div#pa-social-media-container{
        opacity: 0.6;
        width: 40px !important;
        height: 40px;
        border-radius: 25px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        border: solid 1px black !important
    }
    #pa-social-media-container .pa-social-media-buttons{
        border-radius: inherit;
        opacity: 0;
        padding-top: 50px !important;
        padding-bottom: 45px !important;
    }
    div#pa-social-media-container:hover{
        background-color: #29a3a3;
        height: 240px !important;
        opacity: 1;
    }
    #pa-social-media-container {
	background-color: black;
    }
    #pa-social-media-container .pa-social-media-buttons:hover{
        opacity: 1;
    }
    #pa-social-media-container:hover .pa-social-media-buttons{
        display: block !important;
    }
    #pa-social-media-container:hover .pa-mobile-social-media-button{
        display: none !important;
    }
    .pa-mobile-social-media-button{
        display: block !important;
    }
    .pa-share-text-container{
        display: none;
    }
    #whatsapp-share{
        display: block !important;
    }
    .pa-prev-button, .pa-next-button{
        margin-left: 1% !important;
        margin-right: 1% !important;
        margin-top: 1%;
        width: 99% !important;
        font-size: 10pt;
    }
    h1{
        font-size: 16pt;
    }
    h2{
        font-size: 15pt;
    }
    h3{
        font-size: 14pt;
    }
    h4{
        font-size: 13pt;
    }
    p{
        font-size: initial !important;
    }
    img{
        width: 99%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    
}
*, *:before, *:after{
    box-sizing: border-box;
}
#facebook-share,
#twitter-share,
#google-plus-share,
#whatsapp-share,
#pa-social-media-container,
.pa-social-media-buttons{
    transition: 0.3s;
}
nav > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav[dir=ltr], nav[dir=ltr] > ul, nav[dir=ltr] > ul li{
    float: left;
}
nav[dir=rtl], nav[dir=rtl] > ul, nav[dir=rtl] > ul li{
    float: right;
}
nav ul{
    width: 100%;
}
#pa-up-down-buttons-container{
    position: fixed;
    width: 45px;
    height: 90px;
    top:60px;
}
#pa-up-down-buttons-container[dir=ltr]{
    right: 15px;
}
#pa-up-down-buttons-container[dir=rtl]{
    left: 15px;
}
#pa-go-down, #pa-go-top{
    position: relative;
    width: 45px;
    height: 45px;
    background-color: black;
    display: block;
    border-radius: 25px;
    text-align: center;
    font-size: 29pt;
    color: white;
    opacity: 0.4;
}
#pa-go-down:hover, #pa-go-top:hover{
    opacity: 1;
}
#pa-report-form{
    display: none;
}
#pa-side-nav{
    border: solid 1px black;
    padding: 0;
    background-color: rgba(153, 204, 255, 0.9);
    font-weight: bold;
    font-family: arial;
}
#pa-side-nav[dir=ltr]{
    border-left-width: 10px;
}
#pa-side-nav[dir=rtl]{
    border-right-width: 10px;
}
#pa-side-nav > nav{
    border: solid 0 gray;
}
#pa-side-nav[dir=ltr] > nav{
    border-left-width: 3px;
}
#pa-side-nav[dir=rtl] > nav{
    border-right-width: 3px;
}
#pa-side-nav > nav ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
#pa-side-nav > nav ul li{
    padding: 0 0 10px 0;
}
#pa-side-nav > nav ul li a{
    display: block;
}
#pa-side-nav > nav ul li:hover{
    
}
#pa-side-nav > nav ul li:hover a{
    background-color: #92B558;
    box-shadow: 0px 5px 10px 5px rgba(0,90,0,0.4);
    color: white;
}
#pa-side-nav > nav ul li.pa-active-side-link{
    background-color: rgb(128, 151, 255);
    border-left: 5px solid black;
    border-right: 5px solid black;
}
#pa-side-nav > nav ul li.pa-active-side-link a{
    color: white;
}
#pa-main-nav > #pa-mobile-main-menu-button{
    display: none;
}
#pa-main-nav{
    font-size: 16pt;
    font-weight: bold;
    font-family: arial;
}
#pa-main-nav > nav ul li{
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 150px;
}
#pa-main-nav > nav ul li a{
    display: block;
    font-size: 11pt;
}
#pa-main-nav > nav ul li:hover{
    background-color: #000;
    color: #fff;
    box-shadow: 0px 10px 20px 5px rgba(0,90,0,0.4);
}
#pa-main-nav[dir=ltr] > nav ul li{
    float: left;
    /*border-left: 1px solid black;*/
}
#pa-main-nav[dir=rtl] > nav ul li{
    float: right;
    /*border-right: 1px solid black; */ 
}
#pa-main-nav[dir=ltr] > nav{
    float: left;
   /* border-left: 3px solid black;*/
}
#pa-main-nav[dir=rtl] > nav{
    float: right;
    /*border-right: 3px solid black; */ 
}
div.figure-center{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: smaller;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 1px slategray solid;
    border-bottom: 1px slategray solid;
    width: 98%;
    padding: 10px;
    margin: 1%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.figure-caption{
    font-size: 10pt !important;
    text-align: center;
}
.pa-side-note{
    background-color: rgb(128, 255, 128);
}
.pa-side-note > h4{
    background-color: rgb(153, 153, 255);
}
div#pa-social-media-container .pa-share-text-container, div#pa-social-media-container .pa-share-text-container * {
    font-weight: bold;
    padding: 0;
}
#facebook-share{
    background-image: url('../images/social/facebook.png');
    background-size: 100% 100%;
    width: 35px !important;
    height: 35px;
    opacity: 0.8;
    cursor: pointer;
}
#facebook-share:hover{
    opacity: 1;
    box-shadow: 0px 0px 2px 3px rgba(0,20,0,0.4);
    border-radius: 25px;
}
#google-plus-share{
    background-image: url('../images/social/googleplus.png');
    background-size: 100% 100%;
    width: 35px !important;
    height: 35px;
    opacity: 0.8;
    cursor: pointer;
}
#google-plus-share:hover{
    opacity: 1;
    box-shadow: 0px 0px 2px 3px rgba(0,20,0,0.4);
    border-radius: 25px;
}
#twitter-share{
    background-image: url('../images/social/twitter.png');
    background-size: 100% 100%;
    width: 35px !important;
    height: 35px;
    opacity: 0.8;
    cursor: pointer;
}
.pa-social-media-buttons #twitter-share:hover{
    opacity: 1;
    box-shadow: 0px 0px 2px 3px rgba(0,20,0,0.4);
    border-radius: 25px;
}
.pa-social-media-buttons #whatsapp-share{
    background-image: url('../images/social/whatsapp.png');
    background-size: 100% 100%;
    width: 35px !important;
    height: 35px;
    opacity: 0.8;
    cursor: pointer;
    display: none;
}
.pa-social-media-buttons #whatsapp-share:hover{
    opacity: 1;
    box-shadow: 0px 0px 2px 3px rgba(0,20,0,0.4);
    border-radius: 25px;
}
#pa-social-media-container .pa-social-media-buttons{
    padding: 0;
}
#pa-social-media-container .pa-social-media-buttons *{
    padding: 0;
    margin: 0;
    margin-left: 0.5%;
    margin-right: 0.5%;
    cursor: pointer;
}
.pa-next-button, .pa-prev-button {
    background-color: #2c4557;
    margin-left: 1%;
    margin-right: 1%;
    width: 45%;
    height: 65px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.pa-next-button > a, .pa-prev-button > a{
    display: block;
}
.pa-next-button:hover > a, .pa-prev-button:hover > a{
    background-color: #92B558;
}
.pa-next-button *, .pa-prev-button *{
    color: white !important;
}
.show-border{
    border: 1px solid #000;
}
.show-border[dir=ltr]{
    border-left: 3px solid black;
}
.show-border[dir=rtl]{
    border-right: 3px solid black;
}
#pa-notifications-container{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #000;
    color: white;
    padding: 8px;
}
.pa-notification{
    color: inherit;
    background-color: inherit;
    padding: inherit;
    width: 100%;
}
pa-notification-text{
    width: 90%;
}
.pa-close-notif-button{
    cursor: pointer;
    background-color: #9B2335;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    width: 10%;
}
.pa-mobile-social-media-button{
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    position: fixed;
    bottom: 17px;
    right: 15px;
    display: none;
}
.pa-mobile-social-media-button img{
    width: inherit;
    height: inherit;
    border-radius: inherit;
}
.pa-mobile-social-media-button:hover c4{
    color: black;
}
.c1 {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 25px;
    left: 6px;
    top: 15px;
}
.c2 {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 25px;
    bottom: 3px;
    left: 23px;
}
            
.c3{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 25px;
    top: 2px;
    left: 23px;
}
.c4 {
    position: relative;
    color: white;
    font-size: 20pt;
    top: -29px;
    left: 10px;
    font-weight: bold;
}
.pa-container, .pa-row{
    float: left;
}
.pa-container{
    background-color: #006E51;
    padding: 1%;
    width: 100%;
}
.pa-row{
    padding: 0.5%;
    margin: 0.5%;
    width: 99%;
    background-color: rgb(230, 255, 230);
}
.pa-bg-1{
    background-color: #9B2335;
    color: white;
}
.pa-bg-2{
    background-color : rgb(13, 200, 0);
}
.pa-bg-3{
    background-color: rgb(0, 179, 89);
    color: white;
}
.lang-switch {
    width: 230px !important;
    border: 0px black solid !important;
    background-color: cornsilk;
}
#pa-main-nav > nav ul li.lang-switch:hover {
    background-color: #009B77;
}
#pa-main-nav > nav ul li.lang-switch:hover a{
    color: white;
}
[class*="-col-"] {
    padding: 0.5%;
    margin: 0.5%;
}

[class*="pa-ltr-"]{
    float: left;
    direction: ltr;
}
[class*="pa-rtl-"]{
    float: right;
    direction: rtl;
}

[class*="-col-one"]{width: 7.333333333%}
[class*="-col-two"]{width: 15.66666667%}
[class*="-col-three"]{width: 24%}
[class*="-col-four"]{width: 32.33333333%}
[class*="-col-five"]{width: 40.66666667%}
[class*="-col-six"]{width: 49%}
[class*="-col-seven"]{width: 57.33333333%}
[class*="-col-eight"]{width: 65.66666666%}
[class*="-col-nine"]{width: 74%}
[class*="-col-ten"]{width: 82.33333333%}
[class*="-col-eleven"]{width: 90.66666666%}
[class*="-col-twelve"]{width: 99%}
/*IDs*/
h1#page-title{
    font-weight: bold;
    background-color: rgb(95, 158, 160);
    box-shadow: 2px 0px 4px 1px rgba(0,88,188,0.4);
}
h1#page-title[dir=ltr]{
    border-left: 5px solid rgb(15, 87, 51);
}
h1#page-title[dir=rtl]{
    border-right: 5px solid rgb(15, 87, 51);
}
h2#post-title{
    box-shadow: -4px 6px 2px 0px rgba(88,88,88,0.9);
    background-color: rgba(153, 204, 255, 0.5);
}
#pa-logo{
    background-color: #29a3a3;
}
/*Elements*/
footer, header, nav{
    width: 100%;
}
footer nav ul li{
    padding-left: 10px;
    padding-right: 10px;
}
footer[dir=ltr] nav, footer[dir=ltr] nav ul, footer[dir=ltr] nav ul li{
    float: left;
}
footer[dir=rtl] nav, footer[dir=rtl] nav ul, footer[dir=rtl] nav ul li{
    float: right;
}
footer[dir=ltr] nav ul li{
    border-left: 1px solid black;
}
footer[dir=rtl] nav ul li{
    border-right: 1px solid black;
}
header{
    margin-bottom: 10%;
}
/*Select all ul elements where parent is nav*/

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
}
p, aside{
    padding-left: 16px;
    padding-right: 16px;
}
p{
    font-size: 14pt;
    text-align: justify;
    margin-top: 0;
}
aside{
    font-size: 12pt;
}
html{
   background-color: black;
}
body{
    margin: 0;
}
img{
    margin: 0.5%;
    max-width: 99%;
}
input[type=submit], input[type=button]{
    font-weight: bold;
    cursor: pointer;
}
input[disabled=true],input[disabled='']{
    background-color: lightgrey;
    cursor:auto;
}
a{
    color: #378e80;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
pre{
    margin: 0;
}
form label{
    font-weight: bold;
}
form input[type=text], form input[type=email], form input[type=password]{
    border-radius: 5px;
}
section{
    width: 100%;
}
button{
    cursor: pointer;
    color:white;
    height: 25px;
}
button[data-action=cancel]{
    background-color: #9B2335;
    margin: 0;
    padding: 0;
}
button[data-action=ok]{
    background-color: rgb(0, 179, 89);
    margin: 0;
    padding: 0;
}
button[data-action=cancel]:hover{
    background-color: #BB2335;
}
button[data-action=ok]:hover{
    background-color: rgb(0, 200, 89);
}