<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <!--Uncomment this rule to redirect http to https-->
                <!--
                <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="Off" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}{URL}" />
                </rule>
                -->
                <rule name="Bloom The Seed" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <!--Send all trafic to framework seed and make your work bloom.-->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
                <rule name="Hide Folders" stopProcessing="true">
                    <!--Deny direct access to some folders.-->
                    <!--Ones which are not here are public.-->
                    <!--Add your own here.-->
                    <match url="^(vendor|apis|conf|framework|ini|logic|logs|pages)" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
